.weatherInfo {
  margin-top: 30px;
  padding: 20px 20px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.weatherInfo h2 {
  position: relative;
  font-size: 1.75rem;
  color: var(--primary-color);
  margin-bottom: 10px;
  z-index: 2;
  font-weight: 600;
}

.weatherInfo p {
  font-size: 1.125rem;
  margin: 5px 0;
  color: inherit;
}

.weatherInfo img {
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 1;
}

.veryCold {
  background-color: #1e90ff;
  color: #ffffff;
}

.cold {
  background-color: #6fa3ef;
  color: #333333;
}

.cool {
  background-color: #ffcc80;
  color: #333333;
}

.mild {
  background-color: #ffe57f;
  color: #333333;
}

.warm {
  background-color: #ff7043;
  color: #ffffff;
}

.hot {
  background-color: #d32f2f;
  color: #ffffff;
}

@media (max-width: 600px) {
  .weatherInfo {
    padding: 15px 15px 30px;
  }

  .weatherInfo h2 {
    font-size: 1.5rem;
  }

  .weatherInfo p {
    font-size: 1rem;
  }
}
