.weatherInfo {
  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.weatherInfo h2 {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 20px;
  z-index: 2;
}

.weatherInfo p {
  font-size: 1.2rem;
  margin: 10px 0;
  color: inherit;
}

.weatherInfo img {
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 1;
  opacity: 0.7;
}

.veryCold {
  background-color: var(--very-cold-bg);
  color: var(--very-cold-text);
}

.cold {
  background-color: var(--cold-bg);
  color: var(--cold-text);
}

.cool {
  background-color: var(--cool-bg);
  color: var(--cool-text);
}

.mild {
  background-color: var(--mild-bg);
  color: var(--mild-text);
}

.warm {
  background-color: var(--warm-bg);
  color: var(--warm-text);
}

.hot {
  background-color: var(--hot-bg);
  color: var(--hot-text);
}

@media (max-width: 600px) {
  .weatherInfo {
    padding: 15px 15px 30px;
  }

  .weatherInfo h2 {
    font-size: 1.5rem;
  }

  .weatherInfo p {
    font-size: 1rem;
  }
}
