.weatherDetails {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px var(--shadow);
  max-width: 400px;
  min-width: 275px;
  margin: 10px auto;
}

.currentWeather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--hover-bg);
}

.currentWeather h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.weatherInfo {
  margin-top: 15px;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.label {
  font-weight: bold;
  color: var(--primary-color);
}

.infoBlock span {
  color: var(--text-color);
}

@media (max-width: 600px) {
  .weatherDetails {
    padding: 0 15px;
    min-width: 70%;
  }

  .currentWeather h2 {
    font-size: 1.75rem;
  }

  .infoBlock {
    padding: 6px 0;
  }

  .label {
    font-size: 0.9rem;
  }

  .infoBlock span {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .weatherDetails {
    width: 90%;
    padding: 0 15px;
  }

  .currentWeather h2 {
    font-size: 1.5rem;
  }

  .infoBlock {
    flex-direction: row;
    padding: 4px 0;
  }

  .label {
    font-size: 0.85rem;
  }

  .infoBlock span {
    font-size: 0.85rem;
    text-align: left;
  }
}
