.weatherDetails {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px var(--shadow);
  max-width: 400px;
  margin: 10px auto;
}

.currentWeather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--hover-bg);
}

.currentWeather h2 {
  font-size: 2rem;
  color: var(--primary-color);
}

.weatherInfo {
  margin-top: 15px;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.label {
  font-weight: bold;
  color: var(--primary-color);
}

.infoBlock span {
  color: var(--text-color);
}
