.searchHistory {
  margin-top: 20px;
  text-align: left;
}

.searchHistory h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.searchHistory ul {
  list-style-type: none;
  padding-left: 0;
}

@media (max-width: 600px) {
  .searchHistory h3 {
    font-size: 1.1rem;
  }
}
